.data-model {
    position: relative;
    @include size();
    display: flex;
    overflow: hidden;
    background: white;
    .modal-list-content {
        @include size();
    }

    section.info {
        @include size();
        @include flex(column, center, center);
        flex: 1;
        font-size: 24px;
        color: #868fa6;
        user-select: none;
    }
    section.info::before {
        content: "";
        display: inline-block;
        @include size(3.02rem, 1.99rem);
        @include bg-img("~@/assets/images/data-source/error.png");
        margin-bottom: 0.4rem;
    }

    .ivu-split-trigger.ivu-split-trigger-vertical {
        opacity: 0;
        transform: translateX(-0.17rem);
    }
}
