<div class="v-error v-error-404">
    <div class="v-error-content">
        <i-card>
            <p class="v-error-content-title">4
                <span class="v-error-404-icon">
                    <i-icon type="ios-navigate-outline"></i-icon>
                </span>4</p>
            <p class="v-error-content-message">哎呀...您访问的页面不存在</p>
            <p class="v-error-button-strip">
                <i-button @click="onBackHomeClick" size="large" type="text">返回首页</i-button>
                <i-button @click="onBackPrevClick" size="large" type="primary">返回上一页</i-button>
            </p>
        </i-card>
    </div>
</div>
