@charset "UTF-8";
/* --------------------------------------------
1、 表格
---------------------------------------------*/
.diy-table {
    @include size();
    border: none;
    .ivu-table {
        background-color: unset;
        height: 100%;
        font-size: 0.14rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        color: #515a6e;
        .ivu-table-header {
            table th {
                @include font(0.14rem, 600);
                background: #ddebf5;
                height: 0.5rem;
                min-width: 130px;
                .ivu-table-cell-sort {
                    word-break: keep-all;
                    text-overflow: ellipsis;
                }
            }
        }

        .ivu-table-body {
            overflow-y: scroll;
            // overflow-x: hidden;
            height: calc(100% - 0.55rem);
            table {
                // border-spacing: 0 0.12rem;
                tr {
                    height: 0.5rem;
                    &:nth-child(2n) {
                        background: #ddebf5;
                    }
                    &:nth-child(2n-1) {
                        background: #fff;
                    }
                }
                td {
                    border: none;
                    background-color: unset;
                }
            }
        }
    }
    .ivu-table:before {
        height: 0;
    }
}

/* --------------------------------------------
            * 修改spin加载动画样式 *
---------------------------------------------*/
.ivu-spin {
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);

    .spin-icon-load {
        animation: ani-demo-spin 1s linear infinite;

        &:after {
            content: url("~@/assets/images/loading.png");
            background-size: 50px 50px;
            width: 50px;
            height: 50px;
        }
    }
}
/* --------------------------------------------
         自定义的iview的table组件的样式
---------------------------------------------*/
.diy-table {
    height: 100%;
    border: 0rem;
    .ivu-table {
        color: #4d5867;
        &:before,
        &:after {
            height: 0;
        }
        td,
        th {
            border-right: 1px solid #eee;
            border-bottom: 1px solid #eee;
        }
        .ivu-table-header {
            table {
                border: 1px solid #eee;
                border-bottom: 0;
                border-right: 0;
                tr th {
                    font-weight: 400;
                    color: #122236;
                    background-color: #f8f9fa;
                    font-size: 0.14rem;
                    border-bottom: 0;
                }
            }
        }
        .ivu-table-body {
            height: calc(100% - 0.4rem);
            // width: calc(100% + 5px);
            overflow-y: auto;
            // overflow-x: auto;
            table {
                border-left: 1px solid #eee;
                border-top: 1px solid #eee;
                tr td {
                    font-weight: 400;
                    color: #4d5867;
                    font-size: 0.14rem;
                }
                tr:nth-child(2n) {
                    background: #f3f3f4;
                }
            }
        }
        .ivu-table-tip {
            height: calc(100% - 0.4rem);
            position: relative;
            overflow: hidden;
            table {
                height: 100%;
                td {
                    border-left: 1px solid #eee;
                }
            }
        }
        ::-webkit-scrollbar {
            width: 1px;
        }
    }
}
